/* Navigation Bar Styles */
.navbarStyle a {
    color: white;
}
.navbarStyle > li a:hover, .navbarStyle > li a:focus {
    background-color: transparent;
    color: #A183B8;
}
.navbarHeaderStyle a {
    color: white;
}
.navbarHeaderStyle a:hover {
    color: #A183B8;
}

/* Background */
.bodyBackGround {
    background-image: url("../images/dreamLand.png");
    background-position: top center;
    background-size: cover, auto;
    background-repeat: no-repeat;
    min-height: 720px;
}

.overSizedBackground {
    background-image: url("../images/clouds.png");
    background-repeat: repeat !important;
    min-height: 999px;
}

.pageContent {
    opacity: 0.95;
    background-color: transparent;
}