.navbarStyle {
    background-color: #fff;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.3);
    box-sizing: border-box;
    color: #092140;
    height: 46px;
    margin-top: -47px;
    position: fixed;
    transition-duration: .5s;
    transition-property: background-color;
    width: 100%;
    z-index: 5000101;
}

.bodyBackGround {
    background-image: url("../images/dreamLand.png");
    background-position: top center;
    background-size: cover,auto;
    background-repeat: no-repeat;
}

.pageContent {
    opacity: 0.95;
    background-color: transparent;
}