/* Navigation Bar Styles */
.navbarStyle {
    font-size: 18px;
}

.navbarStyle a {
    color: white;
}
.navbarStyle > li a:hover, .navbarStyle > li a:focus {
    background-color: transparent;
    color: #A183B8;
}
.navbarHeaderStyle a {
    color: white;
}
.navbarHeaderStyle a:hover {
    color: #A183B8;
}

/* Background */
.bodyBackGround {
    background-image: url("../images/dreamLand.png");
    background-position: top;
}

.pageContent {
    opacity: 0.85;
    background-color: transparent;
}

/* About Page*/
.aboutHeader {
    font-size: 30px;
}

.introText {
    font-size: 18px;
}

.smallerIntroText {
    font-size: 8px;
}

.profilePic {
    min-height: 200px;
    width: 150px;
}

/* Contact Page*/
.mediaIcon {
    height: 150px;
    width: 150px;
}