<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-center section-header"> Resume </div>
    </div>
</div>  

<accordion close-others="false">
    <div data-ng-repeat-start="category in resume">
        <accordion-group is-open="true" class="resume-detail">
            <accordion-heading>
                <span class="resume-section-header"> {{ category.name }} </span> <i class="pull-right glyphicon glyphicon-chevron-down"></i>
            </accordion-heading>
            <div data-ng-repeat="entry in category.entries">
                <div data-resume-detail data-detail="entry"></div>
                <hr data-ng-if="!$last">
            </div>
        </accordion-group>
    </div>
    <div data-ng-repeat-end></div>
</accordion>